@import '../../Styles/variables.scss';

.profile {
	width: 4.8rem;
	height: 4.8rem;
	border-radius: 10rem;
	background-image: url(../../../assets/profile.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;

	&:hover {
		background-size: 125%;
		border: 2px solid $color-primary;
	}

	&:active {
		background-size: 110%;
	}
}
